/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*https://www.onlinewebfonts.com/download/8ae90d1880a9e9a51d7810be9fe6f49e****/
@font-face {
  font-family: "Chalet-LondonNineteenSixty";
  src: url("https://db.onlinewebfonts.com/t/8ae90d1880a9e9a51d7810be9fe6f49e.eot");
  src: url("https://db.onlinewebfonts.com/t/8ae90d1880a9e9a51d7810be9fe6f49e.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/8ae90d1880a9e9a51d7810be9fe6f49e.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/8ae90d1880a9e9a51d7810be9fe6f49e.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/8ae90d1880a9e9a51d7810be9fe6f49e.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/8ae90d1880a9e9a51d7810be9fe6f49e.svg#Chalet-LondonNineteenSixty")
      format("svg");
}

@font-face {
  font-family: Supreme;
  src: url("./fonts/Supreme-Bold.ttf");
  src: url("/fonts/Supreme-Bold.eot");
}
/*
@font-face {
	font-family: fashun;
	src: url(/metrostylelab.sunbas/fonts/ubuntu.ttf);
  }

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --Red-themecolor: #c72a00;
  --Cream-themecolor: #fffcda;
  --Blue-themecolor: #447cf0;
  --Gray-themecolor: #dfe2e5;
  --Green-themecolor: rgb(28, 60, 39);

  --cols-temp1: repeat(12, 1fr);
  --rows-temp1: max-content 1fr;
  --gap: 2.2rem;

  --pad-s-t: 0.875rem;
  --pad-bt: 4.55rem;
  --font-fam-S: "Supreme Bold";
  --font-fam-c: "Chalet-LondonNineteenSixty";
  --fontlink: 0.865rem var(--font-fam-c), sans-serif;
  --fonttext: 0.875rem var(--font-fam-S), sans-serif;
}

/************ Overall************/
main > * {
  padding: 0px;
}

section {
  padding: var(--pad-s-t) var(--pad-s-t) var(--pad-bt) var(--pad-s-t);

  scroll-snap-align: start;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 0.05em;
  font-weight: 580;
}

h3 {
  font-size: 0.775rem;
  font-family: var(--font-fam-S);
  font-weight: 600;
}
/* SHOP NOW BUTTONS*************/
a {
  text-decoration: none;
  font: var(--fontlink);
}

a span {
  padding: 0 0.2em 0 1.5em;
}
a.sn {
  width: max-content;
  padding: 0.25rem;
  border-radius: 2.2em;
  margin: 1em 0;
  padding-left: 0.5rem;
}
.cream a.sn {
  color: var(--Red-themecolor);
  outline: 0.1rem solid var(--Red-themecolor);
  border: solid 0.15rem var(--Cream-themecolor);
  background-color: transparent;
}
.cream a.sn:focus,
.cream a.sn:hover {
  background-color: rgb(206, 147, 131);
  color: rgb(255, 252, 218);
}
.red a.sn {
  color: var(--Cream-themecolor);
  outline: 0.1rem solid var(--Cream-themecolor);
  border: solid 0.15rem var(--Red-themecolor);
  background-color: transparent;
}
.red a.sn:focus,
.red a.sn:hover {
  background-color: rgb(255, 252, 218);
  color: rgb(199, 42, 0);
}
.blue a.sn {
  color: var(--Gray-themecolor);
  outline: 0.1rem solid var(--Gray-themecolor);
  border: solid 0.15rem var(--Blue-themecolor);
  background-color: transparent;
}
.blue a.sn:hover {
  background-color: var(--Gray-themecolor);
  color: var(--Blue-themecolor);
}
.gray a.sn {
  color: var(--Green-themecolor);
  outline: 0.1rem solid var(--Green-themecolor);
  border: solid 0.15rem var(--Gray-themecolor);
  background-color: transparent;
}
.gray a.sn:focus,
.gray a.sn:hover {
  background-color: var(--Green-themecolor);
  color: var(--Gray-themecolor);
}
.gray a:focus {
  border: solid 0.5em var(--Green-themecolor);
  transition: forwards ease 2s, color 2s, border 1s;
}
.gray a:hover {
  color: var(--Gray-themecolor);
  background-color: var(--Green-themecolor);
  transition: forwards ease 2s, color 2s, background-color 1s;
}
.gray a:hover img {
  background-color: var(--Gray-themecolor);
  border: solid 0.25rem var(--Green-themecolor);
  opacity: 70%;
}
.red a:focus {
  border: solid 0.5em var(--Cream-themecolor);
  transition: forwards ease 2s, color 2s, border 1s;
}
.red ul li a:hover {
  color: var(--Red-themecolor);
  background-color: var(--Cream-themecolor);
  transition: forwards ease 2s, color 2s, background-color 1s;
}
.red ul li a:hover img {
  background-color: var(--Red-themecolor);
  border: solid 0.25rem var(--Cream-themecolor);
  opacity: 70%;
}
button {
  cursor: pointer;
}
button:focus {
  border: solid 0.5rem;
}
.cream a:focus {
  border: solid 0.5em var(--Red-themecolor);
  transition: forwards ease 2s, color 2s, border 1s;
}
.cream ul li a:hover {
  color: var(--Cream-themecolor);
  background-color: var(--Red-themecolor);
  transition: forwards ease 2s, color 2s, background-color 1s;
}
.cream ul li a:hover img {
  background-color: var(--Cream-themecolor);
  border: solid 0.25rem var(--Red-themecolor);
  opacity: 70%;
}
a:hover {
  transition: forwards ease 1s, color 1s, background-color 1s;
  text-decoration: underline;
}
a:focus img,
a:hover img {
  opacity: 50%;
}
p {
  font-size: 0.725rem;
  line-height: 1.5;
  font-weight: 400;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}





body .skipnav:first-child:first-of-type ul li,
body .skipnav:first-child:first-of-type {
  display: flex;
  flex-flow: row nowrap;
}




/* https://www.freecodecamp.org/news/how-to-add-skip-to-main-content-links-to-a-website/ */
/*
body .skipnav :nth-child(-n + 3 of .skip-to) {
  height: 4rem;

}


.skipnav {
	position: fixed;
	left: 1rem;
	top: 1rem;
	z-index: 5;
	width: 20%;
}


body .skipnav ul {
	left: .1rem;
	top: 4.5rem;
	position: absolute;
	z-index: 5;
  }

.skipnav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  max-width: 50vw;
}

body .skipnav:first-child:first-of-type ul li a,
body .skipnav:first-child:first-of-type ul li {
  width: 100%;
}

body .skipnav:first-child:first-of-type ul li,
body .skipnav:first-child:first-of-type {
  display: flex;
  flex-flow: row nowrap;
}

body .skipnav a {
  border: solid 0.05rem var(--Cream-themecolor);
  padding: 1rem 0.5rem;
  color: var(--Cream-themecolor);
  line-height: 1.5;
  background-color: #c72b00d1;
  font-size: 0.8rem;
  margin: 0;
}
.skipnav ul {
	padding:0;
	margin: 0;
}
body .skipnav ul li a:focus,
body .skipnav a:focus {
  border: solid 0.15rem var(--Red-themecolor);
  color: var(--Red-themecolor);
  background-color: #fffcdada;
  line-height: 1;
  font-weight: 900;
  height: 100%;
  
  opacity: 1;
  
} 
.skipnav {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

 
.skipnav.skipnav {
	position: absolute;
	left: -9999px;
	z-index: 999;
	padding: 1em;
	opacity: 0;
  }

@keyframes example1 {
	0% {fill: var(--Red-themecolor); top: 0; height: 33,33%; color: var(--Red-themecolor);	background-color: #fffcdad2;}

	50% {height: 66.66%;
	background-color: #fffcda73;}
	
	100% { height: 100%; fill: var(--Red-themecolor); color:var(--Red-themecolor); background-color: #fffcda;}
  }

  













  .skip-to:first-of-type:focus {
	left: 10%;
	transform: translateX(-10%);
	opacity: 1;
  }

  .skip-to:nth-of-type(2):focus {
	left: 20%;
	transform: translateX(-20%);
	opacity: 1;
  }


main nav.skip-to {
	
	left: -9999px;
	
	padding: 1em;
	background-color:var(--Red-themecolor);
	color:var(--Cream-themecolor);
	opacity: 1;
  }
  main nav.skip-to:focus 		{
	left: 80%;
	transform: translateX(-80%);
	opacity: 1;
  }




*/

button {
  background-color: transparent;
  border: 0;
}
li {
  list-style-type: none;
}

/** Kleur Layout*******/
header div {
  fill: var(--Cream-themecolor);
}
.intro,
.BRIONVEGA section:first-of-type,
.collections {
  background-color: var(--Cream-themecolor);
  color: var(--Red-themecolor);
}

.BRIONVEGA section:nth-of-type(2),
.susfurniture {
  background-color: var(--Red-themecolor);
  color: var(--Cream-themecolor);
}
.sblines,
.press {
  background-color: var(--Blue-themecolor);
  color: var(--Gray-themecolor);
}
.max {
  background-image: url("/images/maxcollect.webp");
  color: var(--Cream-themecolor);
  background-size: cover;
}
footer {
  background-color: var(--Gray-themecolor);
  color: var(--Blue-themecolor);
}
.bestsellers {
  background-color: var(--Gray-themecolor);
  color: var(--Green-themecolor);
}

/********cat button*********/

/***	HEADER *****************************************************************************************/

header {
  background-color: transparent;
  position: fixed;
  display: grid;
  grid-template-columns: var(--cols-temp1);
  gap: var(--gap);
  top: 0;
  width: 100%;
  padding: 0 0.875rem;
  align-items: center;
}

.achter {
  background-color: var(--Cream-themecolor);
  transition: color 1s, background-color 600ms step-end, ease-in-out 800ms;

  fill: var(--Red-themecolor);
  align-content: center;
  z-index: 4;
}

header div {
  width: 5em;
  padding-right: 1rem;
  margin-right: 1rem;
  fill: var(--Cream-themecolor);
}

header .mobile {
  display: none;
}

header nav,
header ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
nav[aria-label="Main Website"] {
  padding: 0;
  width: 100%;
  grid-column: 3/12;
}
header nav ul {
  flex-grow: 2;
}
header button,
header nav ul li {
  margin: 1rem;
}

header button[aria-label="Change to black and white mode"] {
  grid-column: 12/-1;
  top: 1.2em;
  transform: translatex(-50%);
  width: 12px;
  height: 12px;
  background-clip: content-box;
  background-color: var(--Red-themecolor);
  border-radius: 12px;
  outline: 0.12em solid var(--Red-themecolor);
}

header nav button[aria-label="Show Cart and contents"] {
  flex-grow: 6;
  text-align: right;
}

header button,
header nav button,
header nav ul li a {
  color: var(--Red-themecolor);
  font-size: 0.65rem;
  font-family: var(--font-fam-S);
  font-weight: 600;
}

/****	INTRO SYMBOL HERO SECTION************/
.intro {
  margin-top: 0;
  padding: 0 0 0.875rem 0.875rem;
  display: grid;
  grid-template-columns: var(--cols-temp1);
  grid-template-rows: max-content 1fr max-content max-content;
  gap: var(--gap);
  height: 101vh;
}

.intro picture {
  grid-column: 1 / -1;
  grid-row: 1/2;
  padding-right: 0.875rem;
  z-index: 2;
  margin-top: var(--pad-s-t);
}

.intro div {
  grid-column: 7/ -1;
  grid-row: 1/ -1;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: -0.875rem -0.875rem 0;
}
.intro svg {
  fill: var(--Red-themecolor);
}
.intro img {
  width: 100%;
  max-width: 100%;
}

.intro h3 {
  grid-column: 1 / 3;
  grid-row: 3/4;
  font-size: 0.775rem;
  font-weight: 550;
}

.intro p {
  grid-column: 4/7;
  grid-row: 3/4;
  font-size: 0.65rem;
}
.intro a {
  grid-column: 4/7;
  grid-row: 4/5;
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
  margin: 0 0 1rem 0;
}

/*

/*cubic-bezier(0.2, -2, 0.8, 2);


 a[class] {
	animation-name: snbut;
	animation-duration: 3s;

	margin-bottom: 4px;
	transition: color;
  }


  @keyframes changeme {
	0% {

	background-color: transparent;
	  border: 1px solid red;
	  color: white;
	}
	100% {
	  
	  background-color: var(--Red-themecolor);
	  color: var(--Cream-themecolor);
	  border: 1px solid orange;


*/

/***** Brionvega *********************************************************************************/
.BRIONVEGA {
  display: flex;
  flex-flow: column nowrap;
}
.susfurniture a,
.BRIONVEGA section:first-of-type p,
.BRIONVEGA section:first-of-type span a {
  font-size: 2rem;
  color: var(--Red-themecolor);
  line-height: 1;
  font-family: var(--font-fam-c);
  font-weight: 450;
}

.susfurniture a,
.BRIONVEGA section:first-of-type span a {
  text-decoration: underline;
}
.BRIONVEGA section:nth-of-type(1) {
  padding-bottom: var(--pad-s-t);
}
.BRIONVEGA section:nth-of-type(2) {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  align-items: center;
  width: 100%;
  max-width: 100%;
}
.BRIONVEGA section:nth-of-type(2) div {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 6em 4em 1em;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1em;
}
.BRIONVEGA section:nth-of-type(2) div h3 {
  font-size: 1.5rem;
  padding-right: 2rem;
}

.BRIONVEGA ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0;
  flex-grow: 3;
  flex-shrink: 3;
  padding: 0 1em 4.5em 1em;
}
.BRIONVEGA ul li a img {
  width: 100%;
  max-width: 100%;
}

.BRIONVEGA ul li a {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  color: var(--Cream-themecolor);
  margin-top: var(--pad-s-t);
}
.BRIONVEGA ul li a img {
  order: 1;
}
.BRIONVEGA ul li a h3 {
  order: 2;
}
.BRIONVEGA ul li a p {
  order: 3;
}

/********hover***/

/****** SHOP COLLECTIONS************/

.collections {
  display: grid;
  grid-template-columns: var(--cols-temp1);
  grid-template-rows: var(--rows-temp1);
}
.collections h2 {
  grid-column: 1/-1;
  text-align: center;
  grid-row: 1/2;
  font-size: 4rem;
}
.collections ul {
  grid-column: 1/-1;
  grid-row: 2/-1;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: var(--cols-temp1);
  grid-template-rows: var(--rows-temp1);
  gap: var(--gap);
}
/********* Shop by Collections: LAY OUT
  1st 2 ********************************************************************************/
.collections ul li:nth-of-type(1),
.collections ul li:nth-of-type(2) {
  grid-row: 1/2;
}
.collections ul li:nth-of-type(1) {
  grid-column: 4/8;
}
.collections ul li:nth-of-type(2) {
  grid-column: 8/12;
}

/*********	LAY 2nd 2*******/

.collections ul li:nth-of-type(3),
.collections ul li:nth-of-type(4) {
  grid-row: 2/3;
}
.collections ul li:nth-of-type(3) {
  grid-column: 1/6;
}
.collections ul li:nth-of-type(4) {
  grid-column: 7/11;
}

/********* LAY Last 2*******/
.collections ul li:nth-of-type(5),
.collections ul li:nth-of-type(6) {
  grid-row: 3/-1;
}
.collections ul li {
  padding: 0;
  margin: 0;
}
.collections ul li:nth-of-type(5) {
  grid-column: 8/12;
  padding: 0;
  margin: 0;
}
.collections ul li:nth-of-type(6) {
  grid-column: 2/4;
  align-self: center;
  padding: 0;
}

/************* Shop***********/
.collections ul li a {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr;
  gap: 1em;
  color: var(--Red-themecolor);
  font-family: var(--font-fam-c);
}

.collections ul li a img {
  grid-row: 1/2;
  grid-column: 1/-1;
  width: 100%;
  height: auto;
}
.collections ul li a h3 {
  grid-row: 2/3;
  grid-column: 1/-1;

  padding: 0 0.2rem;
}

.collections ul li a p {
  grid-row: 2/3;
  grid-column: 2/-1;
}
.collections ul li:nth-of-type(6) a {
  font-size: 2rem;
  gap: 0;
  grid-row: 2/3;
  grid-column: 1/-1;
  padding: 0.5rem 0 0 0.5rem;
}
.collections ul li a:focus h3,
.collections ul li a:hover h3 {
  text-decoration: underline;
}

/******* Shop By Line ********************************************************************/

.sblines {
  display: grid;
  grid-template-columns: var(--cols-temp1);
  grid-template-rows: var(--rows-temp1);
  row-gap: 0;
  padding: var(--pad-s-t);
}
.sblines h2 {
  grid-column: 1 / span 5;
  grid-row: 1/2;
}
.sblines button {
  height: 1.9rem;
  width: 1.9rem;
  border-radius: 1.9rem;
  border: 0.1rem solid var(--Cream-themecolor);
  color: var(--Cream-themecolor);

  font-size: 0.9rem;
  font-weight: 900;
  padding: 0;
}
.sblines button:first-of-type {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-right: 1.5rem;
}
.sblines button:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 3.5rem;
}
.sblines div {
  grid-area: 2/1/4/8;
  display: flex;
  flex-flow: column nowrap;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: 1fr max-content max-content max-content max-content 1fr;
  width: 100%;
  row-gap: 0;
  margin: 0;
  padding: 0;
}

.sblines div p {
  grid-column: 2/ 3;
  grid-row: 4/5;
  font-size: 0.7rem;
}

.sblines div a {
  grid-column: 2/3;
  grid-row: 5/6;
}
/********** header slide************/
.sblines div ol:first-of-type {
  display: flex;
  flex-flow: row nowrap;
  grid-column: 1/-1;
  grid-row: 3/4;
  width: 100%;
  margin: 1rem 0;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
}
.sblines div ol li[class="active"] {
  background-color: azure;
}
.sblines div ol li {
  padding-right: 2rem;
  border: solid pink;
  flex-basis: auto;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-margin-right: 2rem;
  scroll-margin-inline-start: 2rem;
  cursor: pointer;
}

/* 
 div img {
	width: 400px;
	height: 400px;
	position: relative;
	overflow: hidden;
  }
  .sblines img  {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  .visible {
	opacity: 1;
  }*/

.sblines ol:first-of-type li:not(:first-of-type) {
  opacity: 75%;
}

/******pic slider*********/
.sblines ol:nth-last-child(1) {
  grid-area: 1/8/-1/-1;
  display: flex;
  flex-flow: row nowrap;

  border: solid brown;
  overflow: hidden;
}

.sblines ol:nth-last-of-type(2) li img {
  width: 100%;
}

/*** https://blog.logrocket.com/hide-scrollbar-without-impacting-scrolling-css/#hiding-scrollbar-chrome-edge-other-webkit-based-browsers ***/
.sblines ol:first-of-type::-webkit-scrollbar {
  display: none;
}

.sblines ol:first-of-type::-webkit-scrollbar-thumb {
  background: #29ab87;
}
.sblines ol:first-of-type::-webkit-scrollbar-track {
  opacity: 100%;
}
.sblines ol:first-of-type::-webkit-scrollbar-track-piece:start {
  opacity: 20%;
}

.sblines h3 {
  font-size: 3rem;
  font-weight: bold;
}

/*********	BESTSELLERS *****************************************/

.bestsellers {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.bestsellers article {
  flex-basis: 25%;
  padding-bottom: 20px;
}

.bestsellers div {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0 4em 1em;
  flex-basis: 25%;
  color: rgb(28, 60, 39);
}

.bestsellers article a {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  color: rgb(28, 60, 39);
}
.bestsellers article a img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.bestsellers article a img {
  order: 1;
}
.bestsellers article a h3 {
  order: 2;
}
.bestsellers article a p {
  order: 3;
}

/*********** MAX ****************/

.max {
  height: 80vh;
  position: relative;
}

.max h2 {
  position: absolute;
  bottom: 6rem;
  font-size: 2rem;
}

.max a {
  position: absolute;
  bottom: 2.5rem;
  font-weight: bold;
}

/************* Press ******************/
.press {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr max-content;
  padding-bottom: var(--pad-s-t);
}
.press h2 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.press div {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  position: relative;
}
.press div button {
  font-size: 1.2em;
  margin-bottom: 0.8em;
  margin-left: 1.5rem;
  color: var(--Gray-themecolor);
}

.press ul li button {
  background-color: transparent;
  border: none;
}

.press div button::after {
  position: absolute;
  content: "";
  left: 0;
  justify-content: space-between;
  transform: translatex(-50%);
  width: 1.5rem;
  height: 0.1rem;
  margin: 0.75rem 0.5rem;
  background-clip: content-box;
  outline: 0.012em solid var(--Cream-themecolor);
  background-color: var(--Cream-themecolor);
}
.press div:focus button::after,
.press div:hover button::after {
  background-color: var(--Gray-themecolor);
  transition: linear 5s, background-color 5s;
}

.press ul {
  grid-column: 1/-1;
  grid-row: 3/4;
}
.press ul li {
  padding-top: 5em;
}
.press ul li span {
  font-size: 3em;
  font-weight: 550;
}

/************ Sustainable furniture****/
.susfurniture {
  padding-bottom: 0;
  display: grid;
  grid-template-columns: var(--cols-temp1);
  grid-template-rows: max-content 2fr 2fr 2fr 1fr;
}
.susfurniture h2 {
  grid-column: 7/-1;
  grid-row: 1/2;
}

.susfurniture h3 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  font-size: 3em;
  font-weight: 600;
  grid-area: 1/1/-1/7;

  z-index: 2;
}
.susfurniture h3 span:first-of-type {
  color: pink;
  grid-column: 2/-1;
  grid-row: 1/2;
  align-self: self-end;
}
.susfurniture h3 span:nth-of-type(2) {
  color: orange;
  grid-column: 6/-1;
  grid-row: 2/3;
  align-self: self-end;
}

.susfurniture h3 span:nth-of-type(3) {
  grid-column: 4/-1;
  grid-row: 3/4;
  align-self: self-end;
}
.susfurniture img {
  grid-column: 1/7;
  grid-row: 1/-1;
  width: 100%;

  margin: -0.875em 0 0 -20px;
}

.susfurniture p {
  grid-column: 7/-1;
  grid-row: 2/3;
  font-size: 0.8rem;
}

.susfurniture a {
  grid-column: 7/-1;
  grid-row: 5/-1;
  color: var(--Cream-themecolor);
}
/************************************product care*********/
main.blue {
  background-color: var(--Blue-themecolor);
  color: var(--Gray-themecolor);
}

.pc .intro {
  background-color: var(--Blue-themecolor);
  color: var(--Gray-themecolor);
  grid-area: 1/1/1/-1;
  padding-bottom: 0;
}
.pc h2 {
  grid-column: 3 / span 6;
  grid-row: 2/3;
  font-size: 3rem;
  padding-top: 2rem;
  font-weight: bold;
}
article.pc {
  display: grid;
  grid-template-columns: var(--cols-temp1);
  padding: var(--pad-s-t) var(--pad-s-t) var(--pad-s-t);
  margin-top: -4rem;
}

.pc hgroup {
  grid-column: 1/-1;
}
.pc hgroup p,
.pc hgroup a {
  font-size: 1.8rem;
  line-height: 1;
  font-family: var(--font-fam-c);
  font-weight: 850;
  line-height: 1.2;
}

.pc hgroup span {
  text-decoration: underline;
}
.pc section:nth-of-type(1) {
  padding-bottom: var(--pad-s-t);
}

.pc section {
  grid-column: 4/-1;
}
.pc h3 {
  font-size: 3rem;
}
.pc ul {
  border-top: solid var(--Gray-themecolor) 0.05rem;
  padding: var(--pad-s-t);
  display: flex;
  justify-content: space-evenly;

  gap: var(--gap);
}

.pc ul li {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;

  flex-basis: 5em;
}

.pc ul li:first-child {
  flex-grow: 4;
}

/************* Footer ******************************/
footer {
  padding: 0.875em;
  width: 99vw;
  display: grid;
  grid-template-columns: var(--cols-temp1);
  grid-row: var(--rows-temp1) 1fr 1fr;
}

footer section {
  order: 1;
  grid-area: 1/1/2/-1;
}
footer section ul:first-of-type {
  order: 1;
}
footer section h3 {
  order: 2;
  font-weight: normal;
  padding: 0 0 0.15rem 0;
}

footer section a {
  order: 3;
  color: var(--Blue-themecolor);
}

form {
  grid-row: 2/3;
  grid-column: 1/-1;
}

footer nav {
  grid-column: 9 / span 2;
}

footer ul:nth-child(3) {
  grid-column: 11/12;
}

footer svg {
  height: 100%;
  width: 100%;
  grid-column: 1/3;
  grid-row: 3/4;
  padding: 0 0 1.7rem 0.5rem;
  fill: var(--Blue-themecolor);
}

footer p {
  grid-column: 9/13;
  grid-row: 4/5;
  font-size: 0.55rem;

  font-weight: bolder;
}

footer ul li a {
  font-size: 0.65rem;
  font-weight: 200;
  font-weight: 600;
  color: var(--Blue-themecolor);
}

/******* insta vibe send**********/
footer section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0;
}

footer section ul {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding: 0 0 4rem 0;
  gap: 1rem;
}

footer ul li img {
  width: 100%;
  max-width: 100%;
  filter: grayscale(100%);
}

footer ul li a:hover img {
  filter: none;
  opacity: 100%;
}

footer ul li:nth-of-type(1) a:hover {
  filter: none;
}

/******* sign up newsletter **********/
form {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 5em 1em 1em 1em;
}

input[type="submit"] {
  border: none;
  border-bottom: solid var(--Blue-themecolor) 0.035em;
  background-color: var(--Gray-themecolor);
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--Blue-themecolor);
  font-family: var(--font-fam-c);
}

input[type="text"],
input::placeholder {
  border: none;
  border-bottom: solid var(--Blue-themecolor) 0.035em;
  background-color: var(--Gray-themecolor);
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--Blue-themecolor);
  font-family: var(--font-fam-c);
}
/*footer section ul li:nth-of-type(1) a img:hover {
sr
}*/

footer:hover input::placeholder,
footer:hover,
footer:hover p,
footer:hover ul li a,
footer:hover form > * {
  background-color: var(--Cream-themecolor);
  color: var(--Red-themecolor);
}

footer:hover svg {
  fill: var(--Red-themecolor);
}

footer:hover input[type="text"],
footer:hover input[type="submit"] {
  border-bottom: solid var(--Red-themecolor) 0.035em;
}

/******footer verandering */
footer[class="red"] {
  background-color: var(--Cream-themecolor);
  color: var(--Red-themecolor);
}

footer[class="green"] input[type="text"],
footer[class="green"] input::placeholder,
footer[class="green"],
footer[class="green"] > *,
footer[class="green"] form > * {
  background-color: var(--Green-themecolor);
  color: var(--Cream-themecolor);
}
